{% extends "base.html" %}  {# Extiende la plantilla base #}

{% load static %}  {# Carga archivos estáticos #}

{% block title %}
    Registro  {# Título de la página #}
{% endblock %}

{% block content %}
<form method="post" action="">  {# Formulario que envía datos por POST #}
    {% csrf_token %}  {# Protección contra CSRF #}
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">  {# Contenedor principal #}
        <div class="row align-items-center g-lg-5 py-5">  {# Fila para el diseño responsivo #}
            <div class="col-lg-7 text-center text-lg-start">  {# Columna para texto de bienvenida #}
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Regístrate y empieza a ahorrar</h1>
                <p class="col-lg-10 fs-4">¡Bienvenido a nuestra tienda! 🎉 Únete y desbloquea ofertas exclusivas, descuentos irresistibles y sorpresas increíbles. ¡Tu experiencia de compra transformadora comienza ahora! 🛍️</p>  {# Mensaje de bienvenida #}
            </div>

            <div class="col-md-10 mx-auto col-lg-5">  {# Columna para el formulario #}
                <div class="p-4 border rounded-3 bg-body-tertiary" >  {# Estilo del cuadro del formulario #}
                    <div class="modal-content color-registro">  {# Contenido del modal con clase personalizada #}
                        <div style="margin: 0rem 0 0 0;">
                            {{ form.as_p }}  {# Renderiza los campos del formulario en párrafos #}
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary" style="margin-top: 2rem !important" >Registrar</button>  {# Botón para enviar el formulario #}
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
{% endblock %}