{% extends "base.html" %}
{% load static %}

{% block title %}
    ✉ Contáctenos ✉
{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contactenos.css' %}">
</head>

<!-- Contenido de la Página -->
<header>
    <div class="box">
        <img src="{% static 'img/comentario.png' %}" alt="Comentario">
    </div>
</header>

<div class="contact-form-container">
    <h2>Contáctenos</h2>
    <form action="/contactenos/" name="informacion_contacto" method="POST">{% csrf_token %}
        <fieldset>
            <legend>Información Básica</legend>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>     
            
            <label for="edad">Edad:</label>
            <input type="number" id="edad" name="edad" placeholder="Edad" required>
        </fieldset>
        
        <fieldset>
            <legend>Información de Contacto</legend>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email" required>

            <legend>Comentarios</legend>
            <label for="subject">Asunto:</label>
            <input type="text" id="subject" name="subject" placeholder="Asunto del mensaje" required>

            <label for="mensaje">Mensaje:</label>
            <textarea class="mjs" id="mensaje" name="mensaje" rows="5" placeholder="Escribe tus comentarios aquí" required></textarea>
        </fieldset>

        <!-- Aquí puedes agregar el enlace a las políticas si lo deseas -->
        {% comment %}
        <a href="multimedia/Aviso sobre el manejo de la información.pdf" target="_blank">Acepta las políticas de información</a>
        <input type="radio">
        {% endcomment %}
        
        <input type="submit" value="Enviar">
    </form>
</div>

{% endblock %}