{% extends "base.html" %}
{% load static %}
    
{% block title %}
    ✉ Contactenos ✉
{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contactenos.css' %}">
</head>

    <!-- Contenido de la Página -->
    <header>
        <div class="box">
            <img src="{% static '/img/comentario.png' %} " alt="padre">
        </div>
    </header>

    <div class="contact-form-container">
        <h2> contactenos</h2>
        <form action="/contactenos/" name="informacion contacto" method="POST">{% csrf_token %}
            <fieldset>
                <legend>Informacion Basica</legend>
                <label for "nombre">nombre: </label>
                <input type="text" id="nombre" name= "nombre" placeholder="Nombre" requerid>     
                <label for "edad">edad: </label>
                <input type="number" id="numero" name= "edad" placeholder="Edad" requerid>
            </fieldset>
            <fieldset>
                <legend>Informacion de contacto</legend>
                <label for "email">email: </label>
                <input type="email" id="email" name= "email" placeholder="email" requerid>
                
            <legend>Comentarios</legend>
            <label for "subject">asunto: </label>
            <input type="text" id="subject" name= "subject" placeholder="asunto del mensaje" requerid>

            <label for "mensaje">mensaje: </label>
            <textarea class="mjs" type="mensaje" id="mensaje" name= "mensaje" rows= "5" placeholder="Escribe tus comentarios aquí" requerid></textarea>
               
            {% comment %} </fieldset>
            <a href="multimedia/Aviso sobre el manejo de la información.pdf" target="_blank ">Acepta las
                politicas de informacion</a> <input type="radio">
            </a><br><br> {% endcomment %}
        </form>

        <input type="submit" value="Enviar">

    </div>

    {% endblock %}
    