{% extends "base.html" %}

{% load static %}

{% block title %}
    Login
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post">
    {%csrf_token %}
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Bienvenido de nuevo</h1>
                <p class="col-lg-10 fs-4">¡Conéctate y sumérgete en un mundo de sorpresas! 🌟 Tu próxima gran aventura te estás esperando. ¡No te lo pierdas!</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <div class="p-4 border rounded-3 bg-body-tertiary" style="width: 31rem; height: 21rem;">
                    <div class="modal-content color-registro">
                        <div style="margin: 2rem 0 0 0;">
                            {{form|crispy}}
                        </div>
                            {% if messages %}
                                {% for mensaje in messages %}
                                    <span class="alert alert-{{mensaje.tags}}">{{mensaje}}</span> 
                                {% endfor %}
                            {% endif %}
                        <button type="submit" class="w-100 btn btn-lg btn-primary" style="margin: 10% 0rem 0 0 !important;">Login</button>            
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
{% endblock %}