<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

         {% endblock %}
    </title>
    {% load static %}
    <link href="{% static 'css/principal.css' %}" rel="stylesheet">
    <link href="{% static '/css/registro.css' %}" rel="stylesheet">
    <link href="{% static '/css/contactenos.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Menú de Navegación -->
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li>
                <a href="#">Comunidad</a>
                <ul>
                    <li><a href="{% url 'contactenos' %}">contacto</a></li> 
                    {% comment %} <li><a href="{% url 'eventos' %}">Eventos</a></li>
                    <li><a href="{% url 'descarga' %}">Descarga</a></li>  {% endcomment %}
                </ul>
            </li>
            <li>
                <a href="#">Login</a>
                <ul>
                    <li><a href="{% url 'registro' %}">Registro</a></li>
                    {% comment %} <li><a href="{% url 'login' %}">Login</a></li> {% endcomment %}
                </ul>
            </li>
        </ul>
    </nav>

    {% block content %}
    
    {% endblock %}

    <footer>
        <div class="box2">
            <p></p>
            <!-- Pie de página -->
            <a href="https://www.instagram.com/" target="_blank">
                <img src="{% static '/img/redes/instagram.jpg' %}" alt="Instagram" />
            </a>
            <a href="https://www.facebook.com/?locale=es_LA" target="_blank">
                <img src="{% static '/img/redes/facebook.jpg' %}" alt="Facebook" />
            </a>
            <a href="https://www.youtube.com/?hl=es" target="_blank">
                <img src="{% static '/img/redes/youtube.jpg' %}" alt="YouTube" />
            </a>
            <a href="https://wa.me/573058311157" target="_blank">
                <img src="{% static '/img/redes/whasaap.jpg' %}" alt="WhatsApp" />
            </a>
        
            <p>Derechos de autor © 2024 Mi Página de Juegos. Todos los derechos reservados.</p>
        </div>
       
    </footer>
</body>

</html>



