<!DOCTYPE html> <!-- Indica que el documento es HTML5 -->
<html lang="es"> <!-- Define el idioma del contenido como español -->

<head>
    <meta charset="UTF-8"> <!-- Establece la codificación de caracteres a UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Hace la página responsiva -->

    <title>
        {% block title %} <!-- Bloque que permite sobrescribir el título en plantillas hijas -->
        {% endblock %}
    </title>

    {% load static %} <!-- Carga el sistema de archivos estáticos en Django -->

    <!-- Incluye hojas de estilo CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/principal.css' %}" rel="stylesheet">
    
    <link href="{% static '/css/contactenos.css' %}" rel="stylesheet">
    <link href="{% static '/css/tienda.css' %}" rel="stylesheet">
    <link href="{% static 'css/product.css' %}" rel="stylesheet">

    <!-- Incluye un archivo JavaScript para funcionalidades interactivas -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>

<body> <!-- Inicia la sección del cuerpo del documento -->
    <!-- Menú de Navegación -->
    <nav> <!-- Sección de navegación -->
        <div>
            <ul> <!-- Lista de enlaces de navegación -->
                <li class="nav-item"><a class="nav-link {% if request.path == '/' %} active {% endif %}"
                        href="{% url 'index' %}">Inicio</a></li> <!-- Enlace a la página de inicio -->
                <li class="nav-item"><a class="nav-link {% if request.path == '/contactenos/' %} active {% endif %}"
                        href="{% url 'contact' %}">Contáctenos</a></li> <!-- Enlace a la página de contacto -->
                <li class="nav-item"><a class="nav-link {% if request.path == '/tienda/' %} active {% endif %}"
                        href="{% url 'tienda' %}">Tienda</a></li> <!-- Enlace a la tienda -->
                        {% if user.is_authenticated %}
                        {% if user.grupo == 'Admin' %}
                <li><div>
                        <p class="nav-item"><a class="nav-link {% if request.path == '/crear/' %} active {% endif %}"
                            href="{% url 'crear_producto' %}">Crear producto</a></li> <!-- Enlace a la tienda -->
                <li><div>
                            <p class="nav-item"><a class="nav-link {% if request.path == 'messages/' %} active {% endif %}"
                                href="{% url 'message_list' %}">Mensajes</a></li> <!-- Enlace a la tienda -->
                
                <li><p>¡ Bienvenido jefe&nbsp; &nbsp;{{user.username}} ! &nbsp; &nbsp; <a href="{% url 'cerrar_sesion' %}"> Cerrar
                                    sesion</a></p></li>            

                    {% else %}
                    <li><p>¡ Bienvenido Invitado&nbsp; &nbsp;{{user.username}} ! &nbsp; &nbsp; <a href="{% url 'cerrar_sesion' %}"> Cerrar
                            sesion</a></p>
                    {% endif %}
{% comment %} 
                        &nbsp; &nbsp;{{user.username}} &nbsp; &nbsp; <a href="{% url 'cerrar_sesion' %}"> Cerrar
                            sesion</a> {% endcomment %}

                           

                        {% else %}

                        &nbsp; &nbsp;<a class="word-car-login" href="{% url 'login' %}"> Login </a> &nbsp; &nbsp;
                        <a class="word-register" href="{% url 'Autenticacion' %}"> Registrar </a> &nbsp; &nbsp;

                        {% endif %}

                        
                    </div></li>
            </ul>
        </div>

                
               
            
    </nav>

    {% block content %} <!-- Bloque que permite sobrescribir el contenido en plantillas hijas -->
    {% endblock %}

    <footer> <!-- Sección del pie de página -->
        <div class="box2">
            <p></p> <!-- Espacio para texto adicional, actualmente vacío -->

            <!-- Enlaces a redes sociales con imágenes -->
            <a href="https://www.instagram.com/xanduria" target="_blank">
                <img src="{% static '/img/redes/instagram.png' %}" alt="Instagram" />
            </a>
            <a href="https://www.tiktok.com/@conde.andrew" target="_blank">
                <img src="{% static '/img/redes/tik-tok.png' %}" alt="tiktok" />
            </a>
            <a href="https://wa.me/573157511161" target="_blank">
                <img src="{% static '/img/redes/whatsapp.png' %}" alt="WhatsApp" />
            </a>

            <p>Derechos de autor © 2024 Mi Página de Juegos. Todos los derechos reservados.</p>
            <!-- Información de derechos de autor -->
        </div>
    </footer>

</body>

</html>